$font-family-main: 'IBM Plex Sans', sans-serif;
$font-family-titles: 'IBM Plex Serif', serif;
$font-family-button: 'Fira Sans', sans-serif;

$text-color-main: #202124;
$text-color-secondary: #4B4B4F;
$white: #FFFFFF;

$primary: #423ADB;
$primary-light: #5D74E4;
$primary-lighten: #8BA4EC;