$font-family-main: 'IBM Plex Sans', sans-serif;
$font-family-titles: 'IBM Plex Serif', serif;
$font-family-button: 'Fira Sans', sans-serif;

$text-color-main: #202124;
$text-color-light: #3B3B3F;
$text-color-lighten: #5B5B5F;
$white: #FFFFFF;

$primary:#813BFF;
$primary-light: #9B79FF;
$primary-lighten: #B9A7FF;